<html>
    <head>
        <title>Aditi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Aditi's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2015, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>HTML is a simple code that is interpreted by your web browser - such as Chrome, Firefox or Safari - to display a webpage for the user.<br/>

HTML stands for "HyperText Markup Language". HyperText means it's a type of text that supports hyperlinks between pages. Markup means we have taken a document and marked it up with code to tell something (in this case, a browser) how to interpret the page. HTML code is built with tags, each one starting with < and ending with >. These tags represent markup elements.</p>
        </div>

        <div>
            <p>published: 24.06.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>A template is a file that we can re-use to present different information in a consistent format - for example, you could use a template to help you write a letter, because although each letter might contain a different message and be addressed to a different person, they will share the same format.</p>
        </div>
    </body>
</html>
